@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,500;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f8485e;
}
/* colores */
/* 
#512D6D
F8485E 
EEEEEE blaco
00C1D4 
*/
